/* ******************************************************************* */
/* ******************* TEMPLATE ************************************** */
/* ******************************************************************* */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
/* pre-styling */
html, body{
  height: 100%;
  width: 100%;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  color: black;
  background-color: white;
}
.border{
  border: 1px solid black;
}
.md-only{
  display: none;
}
/* navbar styling */
.navbar{
  background-color: black;
}
.navbar-nav{
  margin: 0px auto;
}
/* footer styling */
footer{
  background-color: black;
  font-size: 12px;
  color: white;
}
.col-left-footer, .col-right-footer{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-inline-start: 10px;
}
.col-left-footer{
  text-align: left;
}
.col-left-footer > p{
  margin: 0px;
  padding-top: 10px;
}
.col-right-footer{
  text-align: right;
}
.col-right-footer > .icon{
  color: white !important;
  font-size: 20px;
  padding-left: 10px;
}

.col-right-footer > .icon:hover{
  color: gray !important;
}

/* media queries */
@media (max-width: 576px) {
  .navbar-nav{
    text-align: center;
  }
  .col-left-footer, .col-right-footer{
    text-align: center;
  }
}
@media (max-width: 768px) {
  .navbar-nav{
    text-align: center;
  }
  .col-left-footer, .col-right-footer{
    text-align: center;
  }
}
@media (max-width: 992px) {
  .col-left-footer, .col-right-footer{
    text-align: center;
  }
}

/* ******************************************************************* */
/* ******************* skillset.html styling ************************* */
/* ******************************************************************* */

/*--- Title section ---*/
.title-section-container{
  background-image: url(../img/road-oakdale.jpg);
  height:400px;
  background-position: 50% -600px;
  background-repeat: no-repeat;
  background-size: cover;
}
.title-section-container .title{
  color: white;
  padding-inline-start: 50px;
  padding-top: 25px;
  font-weight: 300;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  
}

.title > h5{
  padding-top: 10px;
}

/*--- Skill section ---*/
.skill-section-container{
 height: 300px;
}
.skill-description{
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
}

.skill-description > p {
  margin: auto;
  width: 70%;
}
/*--- Skill Image Section--*/
.skill-img-container{
  height: 500px;
  background-size: cover;
 }

 #skill1{
   background-image: url(../img/sample1.jpeg);
 }
 #skill2{
  background-image: url(../img/sample2.jpeg);
}
#skill3{
  background-image: url(../img/sample3.jpeg);

}
#skill4{
  background-image: url(../img/sample4.jpeg);
}

  /* ************** */
  /* media queries  */
  /* ************** */

@media (max-width: 992px) {
    /*--- Title section media queries---*/
  .title-section-container  h1{
    font-size: 60px;
    font-weight: 300;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
  }
  .title-section-container .title{
    padding-inline-start: 20px;
  }
  /*--- Skill section media queries ---*/

}
@media (max-width: 768px) {
  h1{
    font-size: 30px;
  }
  p{
    font-size: 14px;
  }
  /*--- Title section media queries ---*/
  .title-section-container{
    background-position: 50% 80%;
  }
  .title-section-container  h1{
    font-size: 45px;
  }
  /*--- Skill section media queries ---*/

}
@media (max-width: 576px) {
  h1{
    font-size: 28px;
  }
  p{
    font-size: 14px;
  }
  .md-none, #img-floated{
    display: none;
  }
  .md-only{
    display: inline-block;
  }
  /*--- Title section media queries ---*/
  .title-section-container{
    background-position: 0% 80%;
  }
  .title-section-container  h1{
    text-align: center;
    font-size: 40px;
  }

  /*--- Skill section media queries ---*/

  /*--- Fixed Background Image media queries --*/

}