@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
/* pre-styling */
html, body{
  height: 100%;
  width: 100%;
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;;
  color: black;
  background-color: white;
}
.border{
  border: 1px solid black;
}

/* navbar styling */
.navbar{
  background-color: black;
  height: 100px;
}
.navbar-nav{
  margin: 0px auto;
}

/* footer styling */
.foot-padding{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-inline-start: 10px;
}
footer{
  background-color: black;
  font-size: 12px;
  color: white;
}
footer .icon{
  color: white !important;
  font-size: 20px;
  padding-left: 10px;
}
footer p{
  margin: 0px;
  font-weight: 600;
  padding-top: 10px;
}
.left-footer{
  text-align: left;
}
.right-footer{
  text-align: right;
}

/* media queries */
@media (max-width: 576px) {
  .left-footer{
    text-align: center;
  }
  .left-footer{
    text-align: center;
  }
}
@media (max-width: 768px) {
  .left-footer{
    text-align: center;
  }
  .right-footer{
    text-align: center;
  }
}
@media (max-width: 992px) {
  .left-footer{
    text-align: center;
  }
  .right-footer{
    text-align: center;
  }
}

/* ***skills.html styling*** */
/* carousel styling */
.carousel-indicators > li {
  background-color: grey;
}
.carousel-indicators .active{
  background-color: black;
}