@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
/* pre-styling */
html, body{
  height: 100%;
  width: 100%;
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;;
  color: black;
  background-color: white;
}
.border{
  border: 1px solid black;
}

/* navbar styling */
.navbar{
  background-color: black;
  height: 100px;
}
.navbar-nav{
  margin: 0px auto;
}

/* footer styling */
.foot-padding{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-inline-start: 10px;
}
footer{
  background-color: black;
  font-size: 12px;
  color: white;
}
footer .icon{
  color: white !important;
  font-size: 20px;
  padding-left: 10px;
}
footer p{
  margin: 0px;
  font-weight: 600;
  padding-top: 10px;
}
.left-footer{
  text-align: left;
}
.right-footer{
  text-align: right;
}

/* media queries */
@media (max-width: 576px) {
  .left-footer{
    text-align: center;
  }
  .left-footer{
    text-align: center;
  }
}
@media (max-width: 768px) {
  .left-footer{
    text-align: center;
  }
  .right-footer{
    text-align: center;
  }
}
@media (max-width: 992px) {
  .left-footer{
    text-align: center;
  }
  .right-footer{
    text-align: center;
  }
}


/* ***about.html styling*** */
/*body styling*/
.hello{
  background-image: url(img/landscape.jpg);
  height: 600px;
  background-position: 50% 80%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.hello  h1{
  font-weight: 300;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.hello .btn:hover{
  text-shadow: 0px 0px 0px rgb(0, 0, 0);
}
.description{
  padding-top: 260px;
}
.col-about-me{
  padding: 7% 7%;
}
.img-about-me{
  padding: 7% 7%;
}
.img-about-me > img{
  height: 550px;
  margin-left: 50px;
}
.contact-col{
padding-bottom: 50px;
}
.contact-icon{
  color: black !important;
  font-size: 60px;
  padding: 10px 20px;
}


/* ***skills.html styling*** */
/* carousel styling */
.carousel-indicators > li {
  background-color: grey;
}
.carousel-indicators .active{
  background-color: black;
}

/* *******handsFlow.HTML STYLING******* */
/* main styling */
.welcome-tag{
  background-color: yellow;
  border: 1px solid black;
  border-radius: 25px; 
  width: 300px;
  margin: auto auto;
  position: relative;
  top: 18%;
  padding: 15px; 
}
.welcome-tag > h1{
  text-align: center;
  font-weight: bold;
}
#lets-play{
  display: table;
  margin: 0px auto;
}
#lets-play-btn{
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/* ********GAME.HTML STYLING******* */

.body{
  position: relative;
}

.time-bar{
  margin: 0px;
  background-color: #7FFFD4;
  height: 30px;

}
.game-board{
  border: 1px solid black;
  width: 600px;
  height: 600px;
  padding: 10px;
  position: relative;
  display: inline-block;
  left: 22%;
  top: 40px;
}

.circle{
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  width: 140px;
  height: 140px;
  position: absolute;
}

#bot1-l{
  left: 22%;
}
#bot2-r{
  left: 58%;
}
#bot3-r{
  left: 0%;
  top: 24%;
}
#bot3-l{
  left: 77%;
  top: 24%;
}
#user-l{
  left: 0%;
  top: 50%;
}
#user-r{
  left: 77%;
  top: 50%;
}
#bot1-r{
  left: 22%;
  top: 70%;
}
#bot2-l{
  left: 58%;
  top: 70%;
}
.player-name{
  position: absolute;
  top: 30%;
  left: 35%;
}
.player-hand{
  position: absolute;
  top: 50%;
  left: 20%;
}